
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 300px;
}


.login-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}


.login-form .error {
    color: red;
    margin: 10px;
}
